// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
@import "~vue2-dropzone/dist/vue2Dropzone.min.css";
@import '~vue-loading-overlay/dist/vue-loading.css';
@import '~sweetalert2/dist/sweetalert2.min.css';

#dropzone {
    border-radius: .625rem !important;
    border: 1px dashed rgb(81, 158, 235) !important;
    background-color: rgb(236, 245, 255) !important;
    text-align: center !important;
    min-height: 4.375rem !important;
    padding: 1.25rem .625rem .625rem !important;
    position: relative !important;

    .dropzone .dz-message {
        margin: 1em 0 !important;
    }
}


.map {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: calc(100% - 2.125rem) !important;
    z-index: -1 !important;
}

#prevViewDropThumb {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .dz-image-preview {
        width: calc(33% - 10px);
        margin-right: 10px;
        height: 100%;
        position: relative;
        transition-property: transform;

        .dz-image {
            display: block;
            position: relative;
            border-radius: .625rem;
            border: 1px solid rgb(81, 158, 235);
            overflow: hidden;

            &:before {
                content: "";
                position: relative;
                height: 0;
                display: block;
                padding-bottom: 130%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
                font-family: "object-fit: cover; object-position: top;";
                position: absolute;
                z-index: -1;
                left: 0;
                top: 0;
            }
        }


    }
}

.dz-size,
.dz-filename,
.dz-error-mark,
.dz-success-mark {
    display: none !important
}

.leaflet-top.leaflet-left {
    display: none !important;
}

.icon-arrow-alt-circle-down.active {
    transform: rotateX(180deg);
}

svg.icon-arrow-alt-circle-down.close_firm {
    color: rgb(7, 32, 57);
    font-size: 1.3125rem;
    margin-left: .3125rem;
    transition: all .36s;
    cursor: pointer;
}

input#searchInput {
    color: #fff !important;
}

.myDropDown {
    display: none !important;
    max-height: calc(100vh - 50px);
    overflow-y: auto;

    a {
        img {
            max-width: 1rem;
        }
    }
}

.myDropDown.activeSearch {
    display: block !important;
    transform: translateY(0) !important;

}

#searchTitleDescop {
    z-index: 1;
}

.searcBlockPlace {
    .search-block__input {
        // margin-left: 0;
    }
}

.search-block ::placeholder {
    color: #fff;
}

.searcBlockPlace {
    .ap-footer {
        display: none !important;
    }

    button.ap-input-icon.ap-icon-clear,
    button.ap-input-icon.ap-icon-pin {
        svg {
            fill: rgb(81, 158, 235) !important;
        }

    }

    input.is-invalid {
        background-position: right calc(.375em + 2.1875rem) center !important;
    }
}

.otherLinkMinimum,
.firm_others {
    border-bottom: 1px solid rgb(236, 245, 255);
    display: block;

    a {
        display: block;
        margin-bottom: 5px;
    }
}

[v-cloak] {
    display: none;
}
