body .sidebar-menu .treeview-menu>li>a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

body .sidebar-menu .treeview-menu>li>a>.fa {
	margin-top: 3px;
	margin-right: 7px;
}

body.skin-blue-light .sidebar-menu>li:hover>a, body.skin-blue-light .sidebar-menu>li.active>a {
	box-shadow: 0 0 10px 1px rgba(199, 199, 199, 1);
}

body .sidebar-menu, body .main-sidebar .user-panel, body .sidebar-menu>li.header {
	white-space: normal;
	overflow: visible;
}

body.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), body.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
	width: 270px !important;
	box-shadow: 0 0 10px 1px #ccc;
}

.elfinder-group__inner >* {
	display: block;
	margin-bottom: 20px;
}

.elfinder-group__inner >*:last-child {
	margin-bottom: 0;
}

.btn-clear__hidden .btn-clear {
	display: none;
}

.table tr > td:last-child a {
	margin-left: 6px;
	margin-right: 6px;
}
